@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light/dark base */
:root {
  color-scheme: light dark;
}
html,
body,
#__next {
  height: 100%;
}

/* RTL helper: toggled via data attribute */
:root[dir='rtl'] * {
  letter-spacing: 0;
}
